cameraFeed.json
[
    {
        "id": "484c84d2.52995c",
        "type": "tab",
        "label": "Camera Feed",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c642c32.7a5e34",
        "type": "inject",
        "z": "484c84d2.52995c",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "4663eae.e068714"
            ]
        ]
    },
    {
        "id": "4663eae.e068714",
        "type": "exec",
        "z": "484c84d2.52995c",
        "command": "raspistill",
        "addpay": true,
        "append": "-w 640 -h 480 -o -",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 380,
        "y": 200,
        "wires": [
            [
                "8c6bd7d6.e4a148"
            ],
            [],
            []
        ]
    },
    {
        "id": "8c6bd7d6.e4a148",
        "type": "base64",
        "z": "484c84d2.52995c",
        "name": "",
        "action": "str",
        "property": "payload",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "4f8b5f2c.831b2"
            ]
        ]
    },
    {
        "id": "4f8b5f2c.831b2",
        "type": "template",
        "z": "484c84d2.52995c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"294px\" height=\"221px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "64fa1134.2712e"
            ]
        ]
    },
    {
        "id": "64fa1134.2712e",
        "type": "ui_template",
        "z": "484c84d2.52995c",
        "group": "bd6ce3ce.624b2",
        "name": "Display Camera Feed",
        "order": 2,
        "width": "6",
        "height": "5",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 920,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bd6ce3ce.624b2",
        "type": "ui_group",
        "z": "",
        "name": "Other Information",
        "tab": "6c3d9d29.c0eff4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c3d9d29.c0eff4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]