carbonMonoxideInput.json
[
    {
        "id": "8db071a9.e69ef",
        "type": "tab",
        "label": "CO input",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c3b53805.60b9a8",
        "type": "serial in",
        "z": "8db071a9.e69ef",
        "name": "CO Data From Arduino 1",
        "serial": "13b5fca7.c54343",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "2e350c6a.14f624",
                "fac47f41.3cb29",
                "13d16c75.443ca4"
            ]
        ]
    },
    {
        "id": "e0102aa5.391c68",
        "type": "ui_gauge",
        "z": "8db071a9.e69ef",
        "name": "CO Sensor Data Gauge",
        "group": "70c9f74b.9a9728",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Carbon Monoxide Concentration",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "166",
        "seg2": "266",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "2e350c6a.14f624",
        "type": "debug",
        "z": "8db071a9.e69ef",
        "name": "CO command line output",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fd9576b.671968",
        "type": "inject",
        "z": "8db071a9.e69ef",
        "name": "Trigger Data",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "d2d95b7d.8c1a18"
            ]
        ]
    },
    {
        "id": "d2d95b7d.8c1a18",
        "type": "random",
        "z": "8db071a9.e69ef",
        "name": "Random CO Value",
        "low": "0",
        "high": "0",
        "inte": "true",
        "property": "payload",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "fac47f41.3cb29"
            ]
        ]
    },
    {
        "id": "900a60d0.49591",
        "type": "debug",
        "z": "8db071a9.e69ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1090,
        "y": 460,
        "wires": []
    },
    {
        "id": "fac47f41.3cb29",
        "type": "function",
        "z": "8db071a9.e69ef",
        "name": "Build SQLite Query",
        "func": "var action = \"INSERT INTO\";\nvar tableName = \"testTable(carbonmonoxide, date, timestamp)\";\nvar values = \"values(\" + msg.payload + \", \" + \"date('now'), time('now'))\"\n\n\nmsg.topic = (\"INSERT INTO \" + tableName + \" \" + values)\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "e0102aa5.391c68",
                "bdbad522.825728"
            ]
        ]
    },
    {
        "id": "bf585924.1c5dd8",
        "type": "comment",
        "z": "8db071a9.e69ef",
        "name": "SAMPLE DATA BELOW",
        "info": "",
        "x": 120,
        "y": 460,
        "wires": []
    },
    {
        "id": "b91d292.0c9bbd8",
        "type": "comment",
        "z": "8db071a9.e69ef",
        "name": "TRUE DATA ABOVE",
        "info": "",
        "x": 110,
        "y": 360,
        "wires": []
    },
    {
        "id": "bdbad522.825728",
        "type": "debug",
        "z": "8db071a9.e69ef",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "13d16c75.443ca4",
        "type": "function",
        "z": "8db071a9.e69ef",
        "name": "Decipher CO level into 1 or 0",
        "func": "var threshold = 100;\nvar status = 0; // 0=safe; 1=unsafe\n\nif(msg.payload > threshold) // unsafe case\n    status = 1;\nelse\n    status = 0;\n    \n    \nreturn status;",
        "outputs": 1,
        "noerr": 0,
        "x": 638,
        "y": 356.22222900390625,
        "wires": [
            [
                "ccc4a941.8ec4a8"
            ]
        ]
    },
    {
        "id": "ccc4a941.8ec4a8",
        "type": "link out",
        "z": "8db071a9.e69ef",
        "name": "co status",
        "links": [
            "c1458b89.f6b6a8"
        ],
        "x": 860.5,
        "y": 350.22222900390625,
        "wires": []
    },
    {
        "id": "13b5fca7.c54343",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\t",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "500"
    },
    {
        "id": "70c9f74b.9a9728",
        "type": "ui_group",
        "z": "",
        "name": "Sensor Data",
        "tab": "6c3d9d29.c0eff4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6c3d9d29.c0eff4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]