DatabaseManipulation.json
[
    {
        "id": "8113b1d9.abdc4",
        "type": "tab",
        "label": "Database manipulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "74603b7f.131dd4",
        "type": "inject",
        "z": "8113b1d9.abdc4",
        "name": "CREATE",
        "topic": "CREATE TABLE testTable(carbonmonoxide NUMERIC, humidity NUMERIC, temperature NUMERIC, date DATE, timestamp TIME)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b6dac12b.c7997",
        "type": "inject",
        "z": "8113b1d9.abdc4",
        "name": "INSERT",
        "topic": "INSERT INTO testTable(temperature, date, timestamp) values(22.4, date('now'), time('now'))",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6fdb725f.68f7fc",
        "type": "inject",
        "z": "8113b1d9.abdc4",
        "name": "SELECT",
        "topic": "SELECT * FROM testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fe22b178.8f47b",
        "type": "inject",
        "z": "8113b1d9.abdc4",
        "name": "DELETE",
        "topic": "DELETE from testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "58453077.035cb",
        "type": "inject",
        "z": "8113b1d9.abdc4",
        "name": "DROP",
        "topic": "DROP TABLE testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9163b071.21e8b",
        "type": "debug",
        "z": "8113b1d9.abdc4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 340,
        "wires": []
    }
]