garageDoorControl.json
[
    {
        "id": "470fb835.aa2818",
        "type": "tab",
        "label": "Garage Door Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "14b3b9f8.6674f6",
        "type": "rpi-gpio out",
        "z": "470fb835.aa2818",
        "name": "Garage Door Opener Control",
        "pin": "38",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "aac5f136.71f14",
        "type": "ui_button",
        "z": "470fb835.aa2818",
        "name": "Press Garage Door Button",
        "group": "2a358d.f1769a74",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Garage Door Button",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "fc7ffec9.8182f"
            ]
        ]
    },
    {
        "id": "fc7ffec9.8182f",
        "type": "trigger",
        "z": "470fb835.aa2818",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "How long to hold garage door button",
        "x": 590,
        "y": 220,
        "wires": [
            [
                "14b3b9f8.6674f6"
            ]
        ]
    },
    {
        "id": "2a358d.f1769a74",
        "type": "ui_group",
        "z": "",
        "name": "Other Information",
        "tab": "6b4d9d10.d13ca4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6b4d9d10.d13ca4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]