hallEffectInput.json
[
    {
        "id": "cd013e1.91002c",
        "type": "tab",
        "label": "Hall Effect Input",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6188f5eb.68638c",
        "type": "debug",
        "z": "cd013e1.91002c",
        "name": "Flooding Sensor Input (Serial USB1)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "46975a94.f7b9c4",
        "type": "ui_toast",
        "z": "cd013e1.91002c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "Close Popup",
        "cancel": "",
        "topic": "",
        "name": "Hall Effect Sensor High",
        "x": 790,
        "y": 180,
        "wires": []
    },
    {
        "id": "852fb144.daeb9",
        "type": "function",
        "z": "cd013e1.91002c",
        "name": "",
        "func": "while(true)\n{\n\n    if(msg.payload)\n    {\n        msg.payload = \"Garage Door Closed\";\n        msg.topic = \"\";\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "46975a94.f7b9c4"
            ]
        ]
    },
    {
        "id": "ccf1e1a3.b472d",
        "type": "inject",
        "z": "cd013e1.91002c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "852fb144.daeb9",
                "8d95acc0.de744"
            ]
        ]
    },
    {
        "id": "8d95acc0.de744",
        "type": "function",
        "z": "cd013e1.91002c",
        "name": "",
        "func": "var garageDoorStatus = context.get(garageDoorStatus) || 0;\n\nwhile(true)\n{\n\n    if(msg.payload)\n    {\n        context.set('garageDoorStatus', msg.payload);\n    }\n    \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7c2bd402.01876c",
        "type": "serial in",
        "z": "cd013e1.91002c",
        "name": "Hall Effect Input",
        "serial": "a8a93253.f0dc",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "852fb144.daeb9",
                "6188f5eb.68638c",
                "8d95acc0.de744"
            ]
        ]
    },
    {
        "id": "a8a93253.f0dc",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false,
        "responsetimeout": "10000"
    }
]