humidityInput.json
[
    {
        "id": "3c1c42e8.61f51e",
        "type": "tab",
        "label": "Humdity Input",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e12e0cd8.9ba29",
        "type": "ui_gauge",
        "z": "3c1c42e8.61f51e",
        "name": "Relitive Humidity Gauge",
        "group": "3a4a368d.cd645a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Relitive Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "75",
        "x": 990,
        "y": 320,
        "wires": [],
        "inputLabels": [
            "Relative Humidity"
        ]
    },
    {
        "id": "88e8f3d2.c08f6",
        "type": "debug",
        "z": "3c1c42e8.61f51e",
        "name": "Humidity Sensor Data Display",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0bd921e.05d31",
        "type": "inject",
        "z": "3c1c42e8.61f51e",
        "name": "Trigger Data",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "35760988.d1dad6"
            ]
        ]
    },
    {
        "id": "35760988.d1dad6",
        "type": "random",
        "z": "3c1c42e8.61f51e",
        "name": "Random Humidity Value",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 410,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "1a071d99.32bbd2",
        "type": "comment",
        "z": "3c1c42e8.61f51e",
        "name": "TRUE DATA ABOVE",
        "info": "",
        "x": 150,
        "y": 260,
        "wires": []
    },
    {
        "id": "7f83ca34.ab86d4",
        "type": "comment",
        "z": "3c1c42e8.61f51e",
        "name": "SAMPLE DATA BELOW",
        "info": "",
        "x": 160,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b543b7e.6ff7b4",
        "type": "sqlite",
        "z": "3c1c42e8.61f51e",
        "mydb": "a8d48771.9912b8",
        "sqlquery": "msg.topic",
        "sql": "CREATE table msg.payload(temperature int(8));",
        "name": "dB access",
        "x": 890,
        "y": 360,
        "wires": [
            [
                "6b2e53fb.0678dc"
            ]
        ]
    },
    {
        "id": "6b2e53fb.0678dc",
        "type": "debug",
        "z": "3c1c42e8.61f51e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "559d7cac.788a94",
        "type": "function",
        "z": "3c1c42e8.61f51e",
        "name": "Build SQLite Query",
        "func": "var action = \"INSERT INTO\";\nvar tableName = \"testTable(humidity, date, timestamp)\";\nvar values = \"values(\" + msg.payload + \", \" + \"date('now'), time('now'))\"\n\n\nmsg.topic = (\"INSERT INTO \" + tableName + \" \" + values)\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 320,
        "wires": [
            [
                "9a7bdf49.f762c",
                "6b543b7e.6ff7b4",
                "e12e0cd8.9ba29"
            ]
        ]
    },
    {
        "id": "9a7bdf49.f762c",
        "type": "debug",
        "z": "3c1c42e8.61f51e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "x": 960,
        "y": 520,
        "wires": []
    },
    {
        "id": "685488ff.8dadc8",
        "type": "exec",
        "z": "3c1c42e8.61f51e",
        "command": " python /home/pi/smart_garage_project/get_humidity.py",
        "addpay": false,
        "append": "2302 4",
        "useSpawn": "true",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "88e8f3d2.c08f6",
                "559d7cac.788a94"
            ],
            [
                "88e8f3d2.c08f6"
            ],
            [
                "88e8f3d2.c08f6"
            ]
        ]
    },
    {
        "id": "7973445a.1427cc",
        "type": "inject",
        "z": "3c1c42e8.61f51e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "6",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "685488ff.8dadc8"
            ]
        ]
    },
    {
        "id": "3a4a368d.cd645a",
        "type": "ui_group",
        "z": "",
        "name": "Sensor Gauges",
        "tab": "6b4d9d10.d13ca4",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8d48771.9912b8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/smart_garage_project/test.db",
        "mode": "RWC"
    },
    {
        "id": "6b4d9d10.d13ca4",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]