learnNewGarage.json
[
    {
        "id": "7c5b6b11.346a14",
        "type": "tab",
        "label": "Learn New Garage Door",
        "disabled": false,
        "info": "This flow is used when first setting up the system. \nSince a generic garage door opener is used, it must be \"taught\" what garage door it will open\n\nThis is done by pressing the \"learn\" button on the garage door motor\nthen clicking the learn button on the Node-RED UI settings page\n"
    },
    {
        "id": "6284af8a.c539b",
        "type": "rpi-gpio out",
        "z": "7c5b6b11.346a14",
        "name": "Garage Door Opener Control",
        "pin": "38",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 860,
        "y": 160,
        "wires": []
    },
    {
        "id": "75fe5447.28a5fc",
        "type": "ui_button",
        "z": "7c5b6b11.346a14",
        "name": "Press Garage Door Button",
        "group": "2efbb1a0.fa57de",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Learn New Garage Door",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "7c5d6cd6.d2dc04"
            ]
        ]
    },
    {
        "id": "7c5d6cd6.d2dc04",
        "type": "trigger",
        "z": "7c5b6b11.346a14",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "1500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "How long to hold garage door button",
        "x": 530,
        "y": 160,
        "wires": [
            [
                "6284af8a.c539b"
            ]
        ]
    },
    {
        "id": "2efbb1a0.fa57de",
        "type": "ui_group",
        "z": "",
        "name": "Learn New Garage Door",
        "tab": "bf1b8886.f29458",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bf1b8886.f29458",
        "type": "ui_tab",
        "z": "",
        "name": "Settings",
        "icon": "dashboard"
    }
]