SQLiteDatabaseManipulation.json
[
    {
        "id": "d3ff7792.481ba8",
        "type": "tab",
        "label": "Database manipulation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f4e416b.b3a05",
        "type": "sqlite",
        "z": "d3ff7792.481ba8",
        "mydb": "a8d48771.9912b8",
        "sqlquery": "msg.topic",
        "sql": "CREATE table msg.payload(temperature int(8));",
        "name": "dB access",
        "x": 550,
        "y": 340,
        "wires": [
            [
                "46f9e546.5df12c"
            ]
        ]
    },
    {
        "id": "b7bdd4c2.a388a8",
        "type": "inject",
        "z": "d3ff7792.481ba8",
        "name": "CREATE",
        "topic": "CREATE TABLE testTable(carbonmonoxide NUMERIC, humidity NUMERIC, temperature NUMERIC, date DATE, timestamp TIME)",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "6f4e416b.b3a05"
            ]
        ]
    },
    {
        "id": "8be2049c.2f7128",
        "type": "inject",
        "z": "d3ff7792.481ba8",
        "name": "INSERT",
        "topic": "INSERT INTO testTable(temperature, date, timestamp) values(22.4, date('now'), time('now'))",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 300,
        "wires": [
            [
                "6f4e416b.b3a05"
            ]
        ]
    },
    {
        "id": "5000cb2b.01d1b4",
        "type": "inject",
        "z": "d3ff7792.481ba8",
        "name": "SELECT",
        "topic": "SELECT * FROM testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "6f4e416b.b3a05"
            ]
        ]
    },
    {
        "id": "d0a3a99d.01afb8",
        "type": "inject",
        "z": "d3ff7792.481ba8",
        "name": "DELETE",
        "topic": "DELETE from testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "6f4e416b.b3a05"
            ]
        ]
    },
    {
        "id": "6f7623e0.3a8bec",
        "type": "inject",
        "z": "d3ff7792.481ba8",
        "name": "DROP",
        "topic": "DROP TABLE testTable",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "6f4e416b.b3a05"
            ]
        ]
    },
    {
        "id": "46f9e546.5df12c",
        "type": "debug",
        "z": "d3ff7792.481ba8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "a8d48771.9912b8",
        "type": "sqlitedb",
        "z": "",
        "db": "/home/pi/smart_garage_project/test.db",
        "mode": "RWC"
    }
]